.panel_loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;

    .loader {
        width: 80px;
        height: 50px;
        position: relative;

        .loader-text {
            position: absolute;
            top: 0;
            padding: 0;
            margin: 0;
            color:var(--c-primary);
            -webkit-text-stroke: transparent; 
            animation: text_713 3.5s ease both infinite;
        }
        
        .load {
            background-color: rgb(224, 224, 224);
            border-radius: 50px;
            display: block;
            height: 16px;
            width: 16px;
            bottom: 0;
            position: absolute;
            transform: translateX(64px);
            animation: loading_713 3.5s ease both infinite;
            
        }
        
        .load::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--c-primary);
            border-radius: inherit;
            animation: loading2_713 3.5s ease both infinite;
        }
    }

}
