.bg-white{
    background-color: var(--c-bg-white);
    color: var(--c-text-primary);
}

.bg-gray{
    background-color: var(--c-bg-gray);
    color: var(--c-text-secondary);
}

.bg-primary{
    background-color: var(--c-primary);
    color: var(--c-text-secondary);
}

.bg-secondary{
    background-color: var(--c-secondary);
    color: var(--c-text-secondary);
}

.bg-transparent{
    background-color: var(--c-transparent);
}