.bul-linked-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;
    
    .bul-linked-list-line {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;
        z-index: 1;
    
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 25px;
            transform: translate(0);
            width: 5px;
            border-radius: 5px;
            height: 100%;
            background-color: #7562e0;
            background: linear-gradient(to bottom, #7562e0, #33333315);
            z-index: 0;
            
        }
    
        .bul-linked-list-element {
            display: flex;
            gap: 0.4rem;
            z-index: 1;
            position: relative;
        
            .bul-linked-list-element-circle {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid var(--c-primary);
                background-color: white;
                padding: 0.4rem;
                width: 35px;
                height: 35px;
                aspect-ratio: 1;
                border-radius: 50%;
                position: relative;
                z-index: 2; 
            }
        }
    }
}
